:host {
  display: contents;
}

.container {
  height: 1px;
  flex-grow: 1;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  box-sizing: border-box;
  padding: 2rem;
  gap: 1rem;
}

.topbar {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.logo {
  opacity: 0.8;
  height: 32px;
}

.sidebarContainer {
  grid-row: 2;
  grid-column: 1;
}

.contentsContainer {
  grid-row: 2;
  grid-column: 2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contentsContainer > light-glass-outlined {
  flex-grow: 1;
  height: 1px;
}

.innerPlayBackgroundContainer {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.innerPlayBlur {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(90px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.innerPlayBackground {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  opacity: 0.2;
}

.innerContents {
  position: relative;
  padding: 2rem;
  z-index: 3;
}

.title {
  margin: 0;
  font-family: "Roboto Flex", sans-serif;
  font-variation-settings:
    "wght" 500,
    "wdth" 151,
    "GRAD" 150,
    "XOPQ" 96;
  user-select: none;
}

.hr {
  all: unset;
  display: block;
  height: 2px;
  width: 100%;
  background: rgba(255, 255, 255, 0.08);
  margin-top: 20px;
  margin-bottom: 20px;
}

.noSongPlayingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.noSongPlayingInnerContainer {
  all: unset;
  background: rgba(255, 255, 255, 0.2);
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.noSongPlayingInnerContainer > * {
  margin: 0;
}
